<footer id="footer">
    <div class="footer-logo">
        <a href="/">
            <img src="/images/logo-completo.png" alt="logotipo" class="logo">
        </a>
    </div>
    <nav class="footer-links">
        <ul class="footer-navigation">
            <li><a href="/">Inicio</a></li>
            <li><a href="/myCollection">Colección</a></li>
            <li><a href="/#list">Explorar</a></li>
            <li><a href="/contact">Soporte</a></li>
        </ul>
    </nav>
    <div class="footer-socials">
        <a href="https://www.facebook.com/">
            <img src="/images/facebook.png" alt="social-facebook">
        </a>
        <a href="https://www.instagram.com/">
            <img src="/images/social.png" alt="social-instagram">
        </a>
        <a href="https://www.linkedin.com/">
            <img src="/images/linkedin.png" alt="social-linkedin">
        </a>
    </div>
    <div class="footer-copyright">
        <p>&copy;2025 Mi cineteca. Todos los derechos reservados</p>
    </div>
</footer>