<nav id="navBar"> 
    <div>
        <a href="/">
            <img src="/images/logo-completo.png" alt="logotipo" class="logo">
       </a>
    </div>
      
    <ul class="navigation">
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Colección</a></li>
        <li><a href="#">Explorar</a></li>
        <li><a href="/contact">Soporte</a></li>
    </ul>
    <ul class="btns-cta">
        <li><a class="btn-primary" href="#">Registrate</a></li>
        <li><a class="btn-secondary" href="/login">Inicio Sesión</a></li>
    </ul>
</nav>